<a href="https://colab.research.google.com/github/dduniverse/Bigdata_Analyst_Certificate/blob/main/%5B%EB%B9%85%EB%B6%84%EA%B8%B0_%EC%8B%A4%EA%B8%B0%5D_DataManim_%EC%9E%91%EC%97%85_1%EC%9C%A0%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 작업 1유형
https://www.datamanim.com/dataset/03_dataq/typeone.html

In [1]:
import pandas as pd

## 유투브 인기동영상 데이터
- 데이터 출처 :https://www.kaggle.com/rsrishav/youtube-trending-video-dataset?select=KR_youtube_trending_data.csv
- 데이터 설명 : 유튜브 데일리 인기동영상 (한국)
- dataurl : https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv',index_col=0)
df

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(비) - 나로 바꾸자 Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020년 제야의 종 온라인 타종행사 | 보신각 현장 행사는 진행하지 않습니다.,서울시 · Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,고기남자의 칠면조 파티,고기남자 MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,골목 3mc를 분노하게 만든 마음고생이 심했을 공릉 백반집 사장님의 푸념?! [예능...,스브스밥집,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01
...,...,...,...,...,...,...,...,...,...
60394,*풀코스로 먹습니다* 🍗치킨 + 🍕피자 + 🥧디저트,공룡,22,538190,16671,209,3117,UCWf4QKgnTyvmehcRqw-JldQ,2021-10-19
60395,[놀면 뭐하니? 예고] 우린 깐부잖아🦑 놀뭐에 등장한 월드클래스 초대손님!! MBC...,놀면 뭐하니?,24,1607562,14615,258,1141,UCx6jsZ02B4K3SECUrkgPyzg,2021-10-19
60396,먹방 전쟁 : 사랑스러War (feat. 401 정육식당),김종국 GYM JONG KOOK,17,1125911,26490,263,1915,UCoe-0EVDJnjlSoPK8ygcGwQ,2021-10-19
60397,＂너.. 광수지?＂ 협상에 거짓말부터 던지는 광수 닮은꼴 김연경 선수 [런닝맨|21...,스브스 예능맛집,24,1741773,14994,304,802,UCnx4Fi4cmkLGDiFfZ311wWw,2021-10-19
60398,ENHYPEN (엔하이픈) 'Tamed-Dashed' Official MV,HYBE LABELS,10,13753485,1784532,9737,195461,UC3IZKseVpdzPSBaWxBxundA,2021-10-19

### Question 1
인기동영상 제작횟수가 많은 채널 상위 10개명을 출력하라 (날짜기준, 중복포함)

In [3]:
# 'channelId' 빈도수 구하기(상위 10개)
df['channelId'].value_counts().head(10)

UCszFjh7CEfwDb7UUGb4RzCQ    372
UClzB2iZ5jPoTNz0S-QU6Wiw    318
UCtm_QoN2SIxwCE-59shX7Qg    318
UCaKod3X1Tn4c7Ci0iUKcvzQ    313
UCiwQRG2sCcfjKkgxMEdJGPg    293
UChbE5OZQ6dRHECsX0tEPEZQ    283
UCLkAepWjdylmXSltofFvsYQ    275
UCQ2O-iftmnlfrBuNsUUTofQ    274
UCtfriFvIe5gIe8wRWb8UTMg    258
UCRuSxVu4iqTK5kCh90ntAgA    255
Name: channelId, dtype: int64

In [4]:
# 빈도수 상위 10개 'channelId'의 index 구하기
df['channelId'].value_counts().head(10).index

Index(['UCszFjh7CEfwDb7UUGb4RzCQ', 'UClzB2iZ5jPoTNz0S-QU6Wiw',
       'UCtm_QoN2SIxwCE-59shX7Qg', 'UCaKod3X1Tn4c7Ci0iUKcvzQ',
       'UCiwQRG2sCcfjKkgxMEdJGPg', 'UChbE5OZQ6dRHECsX0tEPEZQ',
       'UCLkAepWjdylmXSltofFvsYQ', 'UCQ2O-iftmnlfrBuNsUUTofQ',
       'UCtfriFvIe5gIe8wRWb8UTMg', 'UCRuSxVu4iqTK5kCh90ntAgA'],
      dtype='object')

In [5]:
# 'channelId'가 빈도수 상위 10개의 index인 channelTitle 구하기
df.loc[df['channelId'].isin(df['channelId'].value_counts().head(10).index)]['channelTitle']

0                          장삐쭈
27                         총몇명
32                         파뿌리
76                          짤툰
79                         총몇명
                 ...
60241                       짤툰
60242                      파뿌리
60271    엠뚜루마뚜루 : MBC 공식 종합 채널
60305          런닝맨 - 스브스 공식 채널
60327                      파뿌리
Name: channelTitle, Length: 2959, dtype: object

In [6]:
# 'channelId'가 빈도수 상위 10개의 index인 channelTitle의 고유값 구하기
df.loc[df['channelId'].isin(df['channelId'].value_counts().head(10).index)]['channelTitle'].unique()

array(['장삐쭈', '총몇명', '파뿌리', '짤툰', '런닝맨 - 스브스 공식 채널',
       '엠뚜루마뚜루 : MBC 공식 종합 채널', 'SPOTV', '채널 십오야', '이과장', 'BANGTANTV'],
      dtype=object)

### Question 2
논란으로 인기동영상이 된 케이스를 확인하고 싶다. dislikes수가 like 수보다 높은 동영상을 제작한 채널을 모두 출력하라

In [7]:
# 'dislikes'가 'likes'보다 큰 데이터의 'channelTitle' 찾기
df.loc[df['dislikes']>df['likes'],'channelTitle']

1805             핫도그TV
2008             핫도그TV
2233             핫도그TV
2452             핫도그TV
2680             핫도그TV
             ...
52344    Gen.G esports
52551    Gen.G esports
52554    Gen.G esports
52772    Gen.G esports
52776    Gen.G esports
Name: channelTitle, Length: 143, dtype: object

In [8]:
# 'dislikes'가 'likes'보다 큰 데이터의 'channelTitle'의 고유값
df.loc[df['dislikes']>df['likes'],'channelTitle'].unique()

array(['핫도그TV', 'ASMR 애정TV', '하얀트리HayanTree', '양팡 YangPang',
       '철구형 (CHULTUBE)', '왜냐맨하우스', '(MUTUBE)와꾸대장봉준', '오메킴TV', '육지담',
       'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', '사나이 김기훈',
       '나혼자산다 STUDIO', 'Gen.G esports'], dtype=object)

### Question 3
채널명을 바꾼 케이스가 있는지 확인하고 싶다. channelId의 경우 고유값이므로 이를 통해 채널명을 한번이라도 바꾼 채널의 갯수를 구하여라

In [9]:
# ['channelId','channelTitle']의 중복값 제거
df[['channelId','channelTitle']].drop_duplicates()[['channelId','channelTitle']]

                      channelId             channelTitle
0      UChbE5OZQ6dRHECsX0tEPEZQ                      장삐쭈
1      UCxXgIeE5hxWxHG6dz9Scg2w  RAIN's Official Channel
2      UCZUPZW5idAxYp-Asj__lVAA              서울시 · Seoul
3      UCT3CumbFIJiW33uq0UI3zlg             고기남자 MeatMan
4      UCdWgRSfttvDucq4ApcCg5Mw                    스브스밥집
...                         ...                      ...
60023  UCsiuN8Jco3LbbuTyGuqRgKg                      멸치형
60028  UCRnEWJKVc5FpC-9Z3CBt2ZQ          키키TV, 전지적 예능 시점
60035  UCkMN06eC97XL1qR1bExdwWg                    기용이tv
60036  UCp9G3sWsE42Qo9jgnB1ta2Q       INSSAOPPA G [인싸오빠]
60068  UCRCK5FCJtomQT3b88jXI_DA              한국닌텐도 공식 채널

[1843 rows x 2 columns]

In [10]:
# ['channelId','channelTitle']의 중복값을 제거한 데이터의 'channelId'의 빈도수를 change로 저장
change=df[['channelId','channelTitle']].drop_duplicates()['channelId'].value_counts()
change

UCtQYhzJWFai1y30UIA3uwYQ    3
UC98TOxKQk4aLcx0EjIK0LkQ    3
UC4nEQI74rZkFKlUSwi0ur4A    2
UCn64fSqF2l4rkkjtQUpku2A    2
UCjO3ji06DxmTM1RrzLVwmkA    2
                           ..
UCuZu8NrpBG4WPXRi-hPBl-A    1
UCDrAR1OWC2MD4s0JLetN0MA    1
UCx2MVBsdTJ_sv0LiUpSQU2Q    1
UCu2R3TCLSxYV8pRyBGNOh2g    1
UCRCK5FCJtomQT3b88jXI_DA    1
Name: channelId, Length: 1770, dtype: int64

In [11]:
# change의 값이 1 이상(=채널명을 바꾼 케이스)인 데이터 추출
change[change>1]

UCtQYhzJWFai1y30UIA3uwYQ    3
UC98TOxKQk4aLcx0EjIK0LkQ    3
UC4nEQI74rZkFKlUSwi0ur4A    2
UCn64fSqF2l4rkkjtQUpku2A    2
UCjO3ji06DxmTM1RrzLVwmkA    2
                           ..
UCk5bhZYNtbPJyNLRxN8D8NQ    2
UCSiGNrrL2lAc0-_MfcUUUHA    2
UCiBKp3KgsQCYT9Z2XxdBpbQ    2
UCUEX0L7GHPs95m8S7G6kWVA    2
UC-IYpdOqjkER7B6cnChwlhA    2
Name: channelId, Length: 71, dtype: int64

In [12]:
len(change[change>1])

71

### Question 4
일요일에 인기있었던 영상들중 가장많은 영상 종류(categoryId)는 무엇인가?

In [13]:
# 'trending_date2'를 datetime 형식으로 바꾸기
df['trending_date2']=pd.to_datetime(df['trending_date2'])
df['trending_date2']

0       2021-01-01
1       2021-01-01
2       2021-01-01
3       2021-01-01
4       2021-01-01
           ...
60394   2021-10-19
60395   2021-10-19
60396   2021-10-19
60397   2021-10-19
60398   2021-10-19
Name: trending_date2, Length: 60399, dtype: datetime64[ns]

In [14]:
# 요일로 바꾸기
df['trending_date2'].dt.day_name()

0         Friday
1         Friday
2         Friday
3         Friday
4         Friday
          ...
60394    Tuesday
60395    Tuesday
60396    Tuesday
60397    Tuesday
60398    Tuesday
Name: trending_date2, Length: 60399, dtype: object

In [15]:
# 'Sunday'인 데이터의 'categoryId' 추출
df.loc[df['trending_date2'].dt.day_name()=='Sunday']['categoryId']

400      24
401      22
402      10
403      24
404      24
         ..
59994    10
59995    10
59996    10
59997    19
59998    24
Name: categoryId, Length: 8600, dtype: int64

In [16]:
# 'Sunday'인 데이터의 'categoryId'의 빈도수 세기
df.loc[df['trending_date2'].dt.day_name()=='Sunday']['categoryId'].value_counts()

24    3096
22    1337
10     830
17     636
23     556
25     437
26     363
20     289
1      274
15     217
27     199
28     167
2       99
19      91
29       9
Name: categoryId, dtype: int64

In [17]:
# 내림차순으로 정렬된(기본값) 빈도수의 가장 첫번째 인덱스(=categoryId) 구하기
df.loc[df['trending_date2'].dt.day_name()=='Sunday']['categoryId'].value_counts().index[0]

24

In [18]:
# 내림차순으로 정렬된(기본값) 빈도수의 가장 큰 값(=영상종류개수) 구하기
df.loc[df['trending_date2'].dt.day_name()=='Sunday']['categoryId'].value_counts().max()

3096

### Question 5
각 요일별 인기 영상들의 categoryId는 각각 몇개 씩인지 하나의 데이터 프레임으로 표현하라

In [19]:
# 'trending_date2'를 요일로 바꿔 'dayname'으로 저장
df['dayname']=df['trending_date2'].dt.day_name()

In [20]:
# 'dayname'과 'categoryId'로 그룹핑 후 데이터 개수 구하기
# series 형태로 출력됨
group=df.groupby(['dayname','categoryId']).size()
group

dayname    categoryId
Friday     1             243
           2             120
           10            833
           15            187
           17            633
                        ...
Wednesday  25            468
           26            385
           27            212
           28            165
           29             12
Length: 105, dtype: int64

In [21]:
# pivot_table을 만들기 위해 as_index=False를 해주어 dataframe 형태로 만들기
group=df.groupby(['dayname','categoryId'],as_index=False).size()
group

       dayname  categoryId  size
0       Friday           1   243
1       Friday           2   120
2       Friday          10   833
3       Friday          15   187
4       Friday          17   633
..         ...         ...   ...
100  Wednesday          25   468
101  Wednesday          26   385
102  Wednesday          27   212
103  Wednesday          28   165
104  Wednesday          29    12

[105 rows x 3 columns]

In [22]:
# 'categoryId'를 index로, 'dayname'을 column으로 하는 pivot_table
group.pivot_table(index='categoryId',columns='dayname')

             size
dayname    Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1             243    263      255    274      246     257       234
2             120    105      119     99      128     119       129
10            833    837      776    830      890     894       917
15            187    215      198    217      207     208       207
17            633    668      592    636      682     708       706
19             90     92       87     91       92      89        85
20            283    298      296    289      282     285       291
22           1288   1373     1289   1337     1341    1375      1333
23            568    594      570    556      560     569       566
24           2976   3148     3066   3096     2954    3084      3090
25            444    453      422    437      470     452       468
26            369    378      364    363      375     394       385
27            183    205      183    199      194     194       212
28            171    160      173    167      166     161       165
29             12     10       10      9       13      11        12

### Question 6
댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다. viewcount대비 댓글수가 가장 높은 영상을 확인하라 (view_count값이 0인 경우는 제외한다)

In [23]:
# view_count가 0이 아닌 데이터의 'view_count','comment_count'를 df_view_comment로 저장
df_view_comment=df.loc[df['view_count']!=0,['view_count','comment_count']]
df_view_comment

       view_count  comment_count
0         1893473           8595
1         2600864          20129
2          347049            178
3          528458           3470
4          494904           3142
...           ...            ...
60394      538190           3117
60395     1607562           1141
60396     1125911           1915
60397     1741773            802
60398    13753485         195461

[60386 rows x 2 columns]

In [24]:
# df_view_comment['comment_count']/df_view_comment['view_count']의 최댓값 구하기
max(df_view_comment['comment_count']/df_view_comment['view_count'])

0.16151637633416135

In [25]:
# df_view_comment에서 df_view_comment['comment_count']/df_view_comment['view_count']값이 최댓값인 데이터 찾기 
df_view_comment.loc[df_view_comment['comment_count']/df_view_comment['view_count']==max(df_view_comment['comment_count']/df_view_comment['view_count'])]

       view_count  comment_count
50830     1214527         196166

In [26]:
# df_view_comment['comment_count']/df_view_comment['view_count']의 최댓값을 가지는 df_view_commet의 index를 answer_index로 저장
answer_index=df_view_comment.loc[df_view_comment['comment_count']/df_view_comment['view_count']==max(df_view_comment['comment_count']/df_view_comment['view_count'])].index
answer_index

Int64Index([50830], dtype='int64')

In [27]:
# df에서 index가 answer_index인 데이터의 title 찾기 
df.iloc[answer_index]['title']

50830    60분 동안 댓글이 달리지 않으면, 영상이 삭제됩니다. (챌린지)
Name: title, dtype: object

### Question 7
댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다.viewcount대비 댓글수가 가장 낮은 영상을 확인하라 (view_counts, ratio값이 0인경우는 제외한다.)

In [28]:
df_view_comment2=df.loc[(df['view_count']!=0) & (df['comment_count']!=0),['view_count','comment_count']]
df_view_comment2

       view_count  comment_count
0         1893473           8595
1         2600864          20129
2          347049            178
3          528458           3470
4          494904           3142
...           ...            ...
60394      538190           3117
60395     1607562           1141
60396     1125911           1915
60397     1741773            802
60398    13753485         195461

[59609 rows x 2 columns]

In [29]:
# df_view_comment['comment_count']/df_view_comment['view_count']의 최솟값 구하기
min(df_view_comment2['comment_count']/df_view_comment2['view_count'])

2.152455727052944e-08

In [30]:
# df_view_comment에서 df_view_comment['comment_count']/df_view_comment['view_count']값이 최솟값 데이터 찾기 
df_view_comment2.loc[df_view_comment2['comment_count']/df_view_comment['view_count']==min(df_view_comment2['comment_count']/df_view_comment2['view_count'])]

       view_count  comment_count
46005    46458563              1

In [31]:
# df_view_comment['comment_count']/df_view_comment['view_count']의 최솟값을 가지는 df_view_commet의 index를 answer_index로 저장
answer_index=df_view_comment2.loc[df_view_comment2['comment_count']/df_view_comment['view_count']==min(df_view_comment2['comment_count']/df_view_comment2['view_count'])].index
answer_index

Int64Index([46005], dtype='int64')

In [32]:
# df에서 index가 answer_index인 데이터의 title 찾기 
df.iloc[answer_index]['title']

46005    Join the BTS #PermissiontoDance Challenge only...
Name: title, dtype: object

### Question 8
like 대비 dislike의 수가 가장 적은 영상은 무엇인가? (like, dislike 값이 0인경우는 제외한다)

In [33]:
# 'likes'와 'dislikes'가 모두 0이 아닌 데이터의 'likes'와 'dislikes'를 df_like로 저장
df_like=df.loc[(df['likes']!=0) & (df['dislikes']!=0)][['likes','dislikes']]
df_like

         likes  dislikes
0        38249       730
2         3564       120
3        15372       280
4         3918       111
5        26660       368
...        ...       ...
60394    16671       209
60395    14615       258
60396    26490       263
60397    14994       304
60398  1784532      9737

[59693 rows x 2 columns]

In [34]:
# df_like['dislikes']/df_like['likes']의 최솟값
min(df_like['dislikes']/df_like['likes'])

0.0005234505862646566

In [35]:
# df_like에서 df_like['dislikes']/df_like['likes']의 최솟값을 가지는 데이터의 index를 answer_index로 저장
answer_index=df_like.loc[df_like['dislikes']/df_like['likes']==min(df_like['dislikes']/df_like['likes'])].index
answer_index

Int64Index([11477], dtype='int64')

In [36]:
# df에서 answer_index 행의 title 출력
df.iloc[answer_index]['title']

11477    [줌터뷰] *최초공개* 사부작즈🐰🐶의 비공식 이름은 아이라인즈? 꿀조합 티키타카 가...
Name: title, dtype: object

### Question 9
가장많은 트렌드 영상을 제작한 채널의 이름은 무엇인가? (날짜기준, 중복포함)

In [37]:
# 'channelTitle'의 빈도수 구하기
df['channelTitle'].value_counts()

짤툰                       372
파뿌리                      318
SPOTV                    318
런닝맨 - 스브스 공식 채널          313
엠뚜루마뚜루 : MBC 공식 종합 채널    293
                        ...
NamSeok Byun               1
공원생활 / ParkLife            1
Brave Girls                1
깽냥툰 KY'T                   1
알파                         1
Name: channelTitle, Length: 1832, dtype: int64

In [38]:
# 첫번째 데이터 출력
df['channelTitle'].value_counts().index[0]

'짤툰'

### Question 10
20회(20일)이상 인기동영상 리스트에 포함된 동영상의 숫자는?

In [39]:
# 'title','channelId'의 빈도수가 20이상인 데이터 찾기
df[['title','channelId']].value_counts()>=20

title                                                           channelId
컵라면 먹을 때 절대 일어날리 없는 상황들 ㅋㅋㅋ                                     UCmzMtXrJgfCqA0rfhz8_P4A     True
대한민국 VS 투르크메니스탄 : FIFA 카타르 월드컵 2차 예선 하이라이트 - 2021.06.05         UCpjOmwiy88a9EV3Rv8ukJgw     True
극과 극을 살고 있는 인도의 갑부와 빈곤층들!                                       UCi9Sl8GnFdYoqEVXnojBPJw     True
2주더놀릴예정                                                         UCaKod3X1Tn4c7Ci0iUKcvzQ     True
대박... 멧돼지를 아들로 삼은 할아버지｜KBS 주주클럽 050410 방송                       UCAhKKbDO9-ymWZ_7iAFLBQQ     True
                                                                                            ...
천재 친구 황봉황 [총몇명 스토리2]                                            UCRuSxVu4iqTK5kCh90ntAgA    False
담배충 [병맛더빙/웃긴영상]                                                 UCUK4YjvUvHrFQwTFXwkUIng    False
Official Trailer | The Falcon and The Winter Soldier | Disney+  UCvC4D8onUfXzvjTOM-dBfEA    False
[월드컵최종예선] 오만 VS 베트남 4차전 H/LㅣAFC 아시아지역 월드컵 최종예선                  UCtybqqaTj6Nx74Azdz1KrsA    False
깐부끼리는 니꺼 내꺼가 없는거야                                               UCu9BCtGIEr73LXZsKmoujKw    False
Length: 7867, dtype: bool

In [40]:
# True인 데이터의 개수 찾기(true=1이므로 sum하면 갯수가 됨)
(df[['title','channelId']].value_counts()>=20).sum()

40

## 유튜브 공범컨텐츠 동영상 데이터
- 데이터 출처 :https://www.kaggle.com/kukuroo3/youtube-episodic-contents-kr(참고, 데이터 수정)
- 데이터 설명 : 유튜브 “공범” 컨텐츠 동영상 정보 ( 10분 간격 수집)
- dataurl1 (비디오 정보) = https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv
- dataurl2 (참가자 채널 정보)= https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv

In [41]:
import pandas as pd

channel =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')
video =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')

display(channel.head())
display(video.head())

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,꽈뚜룹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,꽈뚜룹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,꽈뚜룹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,꽈뚜룹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,꽈뚜룹

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,공범 EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,공범 EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,공범 EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,공범 EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,공범 EP1

### Question 1
각 데이터의 ‘ct’컬럼을 시간으로 인식할수 있게 datatype을 변경하고 video 데이터의 videoname의 각 value 마다 몇개의 데이터씩 가지고 있는지 확인하라

In [42]:
channel['ct']=pd.to_datetime(channel['ct'])
channel['ct']

0      2021-09-30 03:01:03
1      2021-09-30 09:01:03
2      2021-09-30 15:01:03
3      2021-09-30 21:01:03
4      2021-10-01 03:01:04
               ...
1390   2021-10-31 15:01:04
1391   2021-10-31 21:01:04
1392   2021-11-01 03:01:03
1393   2021-11-01 09:01:04
1394   2021-11-01 15:01:07
Name: ct, Length: 1395, dtype: datetime64[ns]

In [43]:
video['ct']=pd.to_datetime(video['ct'])
video['ct']

0       2021-10-10 15:20:03
1       2021-10-10 15:30:03
2       2021-10-10 15:40:02
3       2021-10-10 15:50:03
4       2021-10-10 16:00:03
                ...
15196   2021-11-01 14:50:06
15197   2021-11-01 15:00:05
15198   2021-11-01 15:10:05
15199   2021-11-01 15:20:04
15200   2021-11-01 15:30:05
Name: ct, Length: 15201, dtype: datetime64[ns]

In [44]:
video['videoname'].value_counts()

 공범 EP1    3492
 공범 EP2    3204
 공범 EP3    2568
 공범 EP4    2280
 공범 EP5    1562
 공범 EP6    1274
 공범 EP7     555
 공범 EP8     266
Name: videoname, dtype: int64

### Question 2
수집된 각 video의 가장 최신화 된 날짜의 viewcount값을 출력하라

In [45]:
# ['videoname','ct']순으로 video 데이터 정렬
video.sort_values(['videoname','ct'])

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
10,c5JQp6xafqc,6396,680,3,0,226,2021-10-07 19:10:03,공범 EP1
11,c5JQp6xafqc,13087,1113,7,0,273,2021-10-07 19:20:02,공범 EP1
12,c5JQp6xafqc,19991,1446,12,0,363,2021-10-07 19:30:03,공범 EP1
13,c5JQp6xafqc,27451,1859,19,0,479,2021-10-07 19:40:03,공범 EP1
14,c5JQp6xafqc,36559,2306,23,0,602,2021-10-07 19:50:03,공범 EP1
...,...,...,...,...,...,...,...,...
15196,yZt-h-KcmUE,1285474,25582,3615,0,31603,2021-11-01 14:50:06,공범 EP8
15197,yZt-h-KcmUE,1286376,25592,3617,0,31627,2021-11-01 15:00:05,공범 EP8
15198,yZt-h-KcmUE,1287172,25597,3619,0,31643,2021-11-01 15:10:05,공범 EP8
15199,yZt-h-KcmUE,1288138,25606,3619,0,31648,2021-11-01 15:20:04,공범 EP8
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,공범 EP8

In [46]:
# ['videoname','ct']순으로 video 데이터 정렬 후 videoname이 중복되는 것 제거하되 마지막 데이터만 남김
video.sort_values(['videoname','ct']).drop_duplicates('videoname',keep='last')

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,공범 EP1
6695,23QQ1ru9YQg,2199328,25566,763,0,9171,2021-11-01 15:30:03,공범 EP2
9263,GygoAk1hDU0,1671294,22719,508,0,12499,2021-11-01 15:30:03,공범 EP3
11543,bK0_3Vbfvs8,1818493,22703,408,0,16949,2021-11-01 15:30:03,공범 EP4
13105,hv7FBjskAu0,1503435,19926,421,0,12434,2021-11-01 15:30:04,공범 EP5
14934,AxGKHmXyuAE,1750222,24494,389,0,13025,2021-11-01 15:30:04,공범 EP6
13660,QUjQbgj5IXM,1630200,29335,400,0,18247,2021-11-01 15:30:05,공범 EP7
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,공범 EP8

In [47]:
# ['viewcnt','videoname','ct']만 가져오기
video.sort_values(['videoname','ct']).drop_duplicates('videoname',keep='last')[['viewcnt','videoname','ct']]

       viewcnt videoname                  ct
3491   3180532    공범 EP1 2021-11-01 15:30:03
6695   2199328    공범 EP2 2021-11-01 15:30:03
9263   1671294    공범 EP3 2021-11-01 15:30:03
11543  1818493    공범 EP4 2021-11-01 15:30:03
13105  1503435    공범 EP5 2021-11-01 15:30:04
14934  1750222    공범 EP6 2021-11-01 15:30:04
13660  1630200    공범 EP7 2021-11-01 15:30:05
15200  1289088    공범 EP8 2021-11-01 15:30:05

In [48]:
# 결과가 동일하기 나오기 위해 인덱스를 초기화 시킴
video.sort_values(['videoname','ct']).drop_duplicates('videoname',keep='last')[['viewcnt','videoname','ct']].reset_index(drop=True)

   viewcnt videoname                  ct
0  3180532    공범 EP1 2021-11-01 15:30:03
1  2199328    공범 EP2 2021-11-01 15:30:03
2  1671294    공범 EP3 2021-11-01 15:30:03
3  1818493    공범 EP4 2021-11-01 15:30:03
4  1503435    공범 EP5 2021-11-01 15:30:04
5  1750222    공범 EP6 2021-11-01 15:30:04
6  1630200    공범 EP7 2021-11-01 15:30:05
7  1289088    공범 EP8 2021-11-01 15:30:05

### Question 3
Channel 데이터중 2021-10-03일 이후 각 채널의 처음 기록 됐던 구독자 수(subcnt)를 출력하라

In [49]:
# 2021-10-03 이후 데이터의 ['channelname','subcnt']를 가져옴
# channelname이 중복되는 것은 제외하되 첫번째 데이터만 남김(처음 기록된 구독자 수를 구해야 함)
# 결과와 같게 출력하기 위해 인덱스 초기화
channel[channel['ct']>'2021-10-03'][['channelname','subcnt']].drop_duplicates('channelname',keep='first').reset_index(drop=True)

        channelname   subcnt
0               꽈뚜룹  1330000
1             야전삽짱재   257000
2        츄정ChuJeong   322000
3            논리왕 전기   922000
4   와글와글 WagleWagle    55000
5               조나단   215000
6           형사!탐정되다    14900
7        김농밀의 농밀한 삶     7520
8       릴펄 Lilpearl    10100
9     곽토리 kwak tori   471000
10    Balming Tiger    54300

### Question 4
각채널의 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00 까지 구독자수 (subcnt) 의 증가량을 구하여라

In [50]:
# 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00 까지의 channel 데이터를 channel_s로 저장
channel_s=channel[('2021-10-03 03'<channel['ct'])&(channel['ct']<='2021-11-01 15')]

In [51]:
# channel_s를 channelname으로 그룹핑하여 subcnt의 처음, 마지막 값을 구해 channel_s_group으로 저장
channel_s_group=channel_s.groupby('channelname')['subcnt'].agg(['first','last'])
channel_s_group

                   first     last
channelname
Balming Tiger      54300    56800
곽토리 kwak tori     471000   469000
김농밀의 농밀한 삶          7520     9060
꽈뚜룹              1330000  1400000
논리왕 전기            922000   911000
릴펄 Lilpearl        10100    21100
야전삽짱재             257000   268000
와글와글 WagleWagle    55000    55000
조나단               215000   227000
츄정ChuJeong        322000   323000
형사!탐정되다            14900    25200

In [52]:
# last-first를 통해 subcnt의 증가량을 구해 del 컬럼으로 저장
channel_s_group['del']=channel_s_group['last']-channel_s_group['first']
channel_s_group

                   first     last    del
channelname
Balming Tiger      54300    56800   2500
곽토리 kwak tori     471000   469000  -2000
김농밀의 농밀한 삶          7520     9060   1540
꽈뚜룹              1330000  1400000  70000
논리왕 전기            922000   911000 -11000
릴펄 Lilpearl        10100    21100  11000
야전삽짱재             257000   268000  11000
와글와글 WagleWagle    55000    55000      0
조나단               215000   227000  12000
츄정ChuJeong        322000   323000   1000
형사!탐정되다            14900    25200  10300

In [53]:
# 결과와 같게 나오기 위해 index를 초기화하고 기존 인덱스인 channelname은 삭제하지 않음
# channelname과 del 출력
channel_s_group.reset_index(drop=False,inplace=True)
channel_s_group[['channelname','del']]

        channelname    del
0     Balming Tiger   2500
1     곽토리 kwak tori  -2000
2        김농밀의 농밀한 삶   1540
3               꽈뚜룹  70000
4            논리왕 전기 -11000
5       릴펄 Lilpearl  11000
6             야전삽짱재  11000
7   와글와글 WagleWagle      0
8               조나단  12000
9        츄정ChuJeong   1000
10          형사!탐정되다  10300

### Question 5
각 비디오는 10분 간격으로 구독자수, 좋아요, 싫어요수, 댓글수가 수집된것으로 알려졌다. 공범 EP1의 비디오정보 데이터중 수집간격이 5분 이하, 20분이상인 데이터 구간( 해당 시점 전,후) 의 시각을 모두 출력하라

In [54]:
# videoname에 '공범 EP1'이 포함된 데이터를 'ct'순으로 정렬하려 ep1에 저장
ep1=video[video['videoname'].str.contains('공범 EP1')].sort_values('ct')
ep1

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
10,c5JQp6xafqc,6396,680,3,0,226,2021-10-07 19:10:03,공범 EP1
11,c5JQp6xafqc,13087,1113,7,0,273,2021-10-07 19:20:02,공범 EP1
12,c5JQp6xafqc,19991,1446,12,0,363,2021-10-07 19:30:03,공범 EP1
13,c5JQp6xafqc,27451,1859,19,0,479,2021-10-07 19:40:03,공범 EP1
14,c5JQp6xafqc,36559,2306,23,0,602,2021-10-07 19:50:03,공범 EP1
...,...,...,...,...,...,...,...,...
3487,c5JQp6xafqc,3179698,41040,1113,0,7673,2021-11-01 14:50:04,공범 EP1
3488,c5JQp6xafqc,3179971,41042,1113,0,7673,2021-11-01 15:00:03,공범 EP1
3489,c5JQp6xafqc,3179971,41042,1113,0,7673,2021-11-01 15:10:03,공범 EP1
3490,c5JQp6xafqc,3180332,41043,1113,0,7674,2021-11-01 15:20:02,공범 EP1
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,공범 EP1

In [55]:
import datetime

# ep1의 ct열을 앞뒤 1행과 차분했을 때 5분이하 또는 20분 이상인 데이터 찾기
ep1[(ep1['ct'].diff(1)<=datetime.timedelta(minutes=5)) | (ep1['ct'].diff(1)>=datetime.timedelta(minutes=20))]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,공범 EP1

In [56]:
# 721,722,1636행의 전후 행 출력하기
ep1[ep1.index.isin([720,721,722,723,1635,1636,1637])]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,공범 EP1
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
723,c5JQp6xafqc,2228669,34566,849,0,7194,2021-10-13 09:50:03,공범 EP1
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,공범 EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,공범 EP1
1637,c5JQp6xafqc,2708448,37903,988,0,7410,2021-10-19 18:30:03,공범 EP1

### Question 6
각 에피소드의 시작날짜(년-월-일)를 에피소드 이름과 묶어 데이터 프레임으로 만들고 출력하라

In [57]:
# video의 ['ct','videoname']을 정렬하여 중복데이터의 첫번째만 남기고 제거.
first_video=video[['ct','videoname']].sort_values(['ct','videoname']).drop_duplicates('videoname',keep='first')
first_video

                       ct videoname
10    2021-10-07 19:10:03    공범 EP1
3496  2021-10-09 19:10:03    공범 EP2
6696  2021-10-14 19:10:04    공범 EP3
9264  2021-10-16 19:10:04    공범 EP4
11544 2021-10-21 19:10:04    공범 EP5
13661 2021-10-23 19:10:04    공범 EP6
13106 2021-10-28 19:10:04    공범 EP7
14935 2021-10-30 19:20:04    공범 EP8

In [58]:
# 'ct' 컬럼의 '년-월-일'을 date컬럼으로 저장
first_video['date']=first_video['ct'].dt.date
first_video

                       ct videoname        date
10    2021-10-07 19:10:03    공범 EP1  2021-10-07
3496  2021-10-09 19:10:03    공범 EP2  2021-10-09
6696  2021-10-14 19:10:04    공범 EP3  2021-10-14
9264  2021-10-16 19:10:04    공범 EP4  2021-10-16
11544 2021-10-21 19:10:04    공범 EP5  2021-10-21
13661 2021-10-23 19:10:04    공범 EP6  2021-10-23
13106 2021-10-28 19:10:04    공범 EP7  2021-10-28
14935 2021-10-30 19:20:04    공범 EP8  2021-10-30

In [59]:
# date와 videoname 출력
first_video[['date','videoname']]

             date videoname
10     2021-10-07    공범 EP1
3496   2021-10-09    공범 EP2
6696   2021-10-14    공범 EP3
9264   2021-10-16    공범 EP4
11544  2021-10-21    공범 EP5
13661  2021-10-23    공범 EP6
13106  2021-10-28    공범 EP7
14935  2021-10-30    공범 EP8

### Question 7
“공범” 컨텐츠의 경우 19:00시에 공개 되는것으로 알려져있다. 공개된 날의 21시의 viewcnt, ct, videoname 으로 구성된 데이터 프레임을 viewcnt를 내림차순으로 정렬하여 출력하라

In [60]:
# 'ct' 컬럼의 시간을 'hour'컬럼으로 저장
video['hour']=video['ct'].dt.hour
video['hour']

0        15
1        15
2        15
3        15
4        16
         ..
15196    14
15197    15
15198    15
15199    15
15200    15
Name: hour, Length: 15201, dtype: int64

In [61]:
# 21시 데이터를 ['videoname','ct']순으로 정렬
video[video['hour']==21].sort_values(['videoname','ct'])

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,hour
21,c5JQp6xafqc,117340,6032,69,0,1409,2021-10-07 21:00:03,공범 EP1,21
22,c5JQp6xafqc,129841,6519,83,0,1522,2021-10-07 21:10:03,공범 EP1,21
23,c5JQp6xafqc,139487,7004,105,0,1627,2021-10-07 21:20:03,공범 EP1,21
24,c5JQp6xafqc,147763,7444,112,0,1701,2021-10-07 21:30:02,공범 EP1,21
25,c5JQp6xafqc,159899,7861,117,0,1803,2021-10-07 21:40:03,공범 EP1,21
...,...,...,...,...,...,...,...,...,...
15090,yZt-h-KcmUE,1159021,24543,3446,0,30092,2021-10-31 21:10:07,공범 EP8,21
15091,yZt-h-KcmUE,1161886,24568,3446,0,30131,2021-10-31 21:20:05,공범 EP8,21
15092,yZt-h-KcmUE,1165092,24591,3447,0,30165,2021-10-31 21:30:05,공범 EP8,21
15093,yZt-h-KcmUE,1167818,24614,3450,0,30185,2021-10-31 21:40:06,공범 EP8,21
15094,yZt-h-KcmUE,1170183,24633,3453,0,30220,2021-10-31 21:50:04,공범 EP8,21

In [62]:
# 21시 데이터를 ['videoname','ct']순으로 정렬한 후 'videoname'이 중복되는 데이터를 첫번째만 남기고 삭제하여 video_21로 저장
video_21=video[video['hour']==21].sort_values(['videoname','ct']).drop_duplicates('videoname',keep='first')
video_21

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,hour
21,c5JQp6xafqc,117340,6032,69,0,1409,2021-10-07 21:00:03,공범 EP1,21
3507,23QQ1ru9YQg,148144,6039,122,0,2127,2021-10-09 21:00:03,공범 EP2,21
6707,GygoAk1hDU0,147183,5839,76,0,3105,2021-10-14 21:00:04,공범 EP3,21
9275,bK0_3Vbfvs8,217674,7854,82,0,5029,2021-10-16 21:00:04,공범 EP4,21
11555,hv7FBjskAu0,201179,6897,105,0,4283,2021-10-21 21:00:04,공범 EP5,21
13672,AxGKHmXyuAE,213899,8259,79,0,4325,2021-10-23 21:00:06,공범 EP6,21
13117,QUjQbgj5IXM,252032,11111,90,0,6395,2021-10-28 21:00:04,공범 EP7,21
14945,yZt-h-KcmUE,264029,11598,1438,0,13292,2021-10-30 21:00:08,공범 EP8,21

In [63]:
# video_21의 ['videoname','viewcnt','ct'] 컬럼을 viewcnt 기준 내림차순으로 정렬
# 결과와 같게 출력하기 위해 index 초기화
video_21[['videoname','viewcnt','ct']].sort_values('viewcnt',ascending=False).reset_index(drop=True)

  videoname  viewcnt                  ct
0    공범 EP8   264029 2021-10-30 21:00:08
1    공범 EP7   252032 2021-10-28 21:00:04
2    공범 EP4   217674 2021-10-16 21:00:04
3    공범 EP6   213899 2021-10-23 21:00:06
4    공범 EP5   201179 2021-10-21 21:00:04
5    공범 EP2   148144 2021-10-09 21:00:03
6    공범 EP3   147183 2021-10-14 21:00:04
7    공범 EP1   117340 2021-10-07 21:00:03

### Question 8
video 정보의 가장 최근 데이터들에서 각 에피소드의 싫어요/좋아요 비율을 ratio 컬럼으로 만들고 videoname, ratio로 구성된 데이터 프레임을 ratio를 오름차순으로 정렬하라

In [64]:
# ct기준 오름차순 정렬 후 videoname이 중복되는 데이터는 마지막만 남기고 삭제하여 last_video로 저장
last_video=video.sort_values('ct').drop_duplicates('videoname',keep='last')
last_video

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,hour
11543,bK0_3Vbfvs8,1818493,22703,408,0,16949,2021-11-01 15:30:03,공범 EP4,15
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,공범 EP1,15
9263,GygoAk1hDU0,1671294,22719,508,0,12499,2021-11-01 15:30:03,공범 EP3,15
6695,23QQ1ru9YQg,2199328,25566,763,0,9171,2021-11-01 15:30:03,공범 EP2,15
13105,hv7FBjskAu0,1503435,19926,421,0,12434,2021-11-01 15:30:04,공범 EP5,15
14934,AxGKHmXyuAE,1750222,24494,389,0,13025,2021-11-01 15:30:04,공범 EP6,15
13660,QUjQbgj5IXM,1630200,29335,400,0,18247,2021-11-01 15:30:05,공범 EP7,15
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,공범 EP8,15

In [65]:
# last_video에서 dislikecnt/likecnt 값을 ratio 컬럼에 저장
last_video['ratio']=last_video['dislikecnt']/last_video['likecnt']
last_video['ratio']

11543    0.017971
3491     0.027118
9263     0.022360
6695     0.029844
13105    0.021128
14934    0.015881
13660    0.013636
15200    0.141357
Name: ratio, dtype: float64

In [66]:
# videoname과 ratio를 ratio 기준으로 오름차순 정렬하여 출력
last_video[['videoname','ratio']].sort_values('ratio').reset_index(drop=True)

  videoname     ratio
0    공범 EP7  0.013636
1    공범 EP6  0.015881
2    공범 EP4  0.017971
3    공범 EP5  0.021128
4    공범 EP3  0.022360
5    공범 EP1  0.027118
6    공범 EP2  0.029844
7    공범 EP8  0.141357

### Question 9
2021-11-01 00:00:00 ~ 15:00:00까지 각 에피소드별 viewcnt의 증가량을 데이터 프레임으로 만드시오

In [67]:
# 2021-11-01 00:00:00 ~ 15:00:00까지 ['videoname','viewcnt'] 데이터를 video_1101로 저장
video_1101=video.loc[('2021-11-01 00' <= video['ct']) & (video['ct']<='2021-11-01 15'),['videoname','viewcnt']]
video_1101

      videoname  viewcnt
3398     공범 EP1  3166400
3399     공범 EP1  3166721
3400     공범 EP1  3167110
3401     공범 EP1  3167459
3402     공범 EP1  3167809
...         ...      ...
15192    공범 EP8  1281140
15193    공범 EP8  1282186
15194    공범 EP8  1283259
15195    공범 EP8  1284443
15196    공범 EP8  1285474

[720 rows x 2 columns]

In [68]:
# video_1101을 videoname으로 그룹핑한 후 viewcnt의 처음, 마지막 값을 구함
video_1101_group=video_1101.groupby('videoname')['viewcnt'].agg(['first','last'])
video_1101_group

             first     last
videoname
 공범 EP1    3166400  3179698
 공범 EP2    2188578  2198878
 공범 EP3    1660916  1670843
 공범 EP4    1808141  1817965
 공범 EP5    1492223  1503047
 공범 EP6    1735457  1749598
 공범 EP7    1602201  1629150
 공범 EP8    1196327  1285474

In [69]:
# 마지막-처음 값을 viewcnt 컬럼으로 저장
video_1101_group['viewcnt']=video_1101_group['last']-video_1101_group['first']
video_1101_group

             first     last  viewcnt
videoname
 공범 EP1    3166400  3179698    13298
 공범 EP2    2188578  2198878    10300
 공범 EP3    1660916  1670843     9927
 공범 EP4    1808141  1817965     9824
 공범 EP5    1492223  1503047    10824
 공범 EP6    1735457  1749598    14141
 공범 EP7    1602201  1629150    26949
 공범 EP8    1196327  1285474    89147

In [70]:
video_1101_group['viewcnt']

videoname
 공범 EP1    13298
 공범 EP2    10300
 공범 EP3     9927
 공범 EP4     9824
 공범 EP5    10824
 공범 EP6    14141
 공범 EP7    26949
 공범 EP8    89147
Name: viewcnt, dtype: int64

### Question 10
video 데이터 중에서 중복되는 데이터가 존재한다. 중복되는 각 데이터의 시간대와 videoname 을 구하여라

In [71]:
# video에서 중복되는 행 찾기
video.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
15196    False
15197    False
15198    False
15199    False
15200    False
Length: 15201, dtype: bool

In [72]:
# 중복되는 행의 데이터 확인
video[video.duplicated()]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,hour
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1,9
3927,23QQ1ru9YQg,1408005,20484,554,0,8567,2021-10-13 09:41:37,공범 EP2,9

In [73]:
# 중복되는 행의 videoname과 ct 확인
video[video.duplicated()][['videoname','ct']]

     videoname                  ct
722     공범 EP1 2021-10-13 09:41:37
3927    공범 EP2 2021-10-13 09:41:37